<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>lampPm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<description>HelloWeb</description>
  	<display-name>HelloWeb</display-name>
  	<servlet-name>HelloWeb</servlet-name>
  	<servlet-class>com.lamp.web.servlet.HelloWeb</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloWeb</servlet-name>
  	<url-pattern>/HelloWeb</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>LoginServlet</description>
  	<display-name>LoginServlet</display-name>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.lamp.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>JsonServlet</description>
  	<display-name>JsonServlet</display-name>
  	<servlet-name>JsonServlet</servlet-name>
  	<servlet-class>com.lamp.web.servlet.JsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JsonServlet</servlet-name>
  	<url-pattern>/JsonServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>RoadsServlet</description>
  	<display-name>RoadsServlet</display-name>
  	<servlet-name>RoadsServlet</servlet-name>
  	<servlet-class>com.lamp.web.servlet.RoadsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RoadsServlet</servlet-name>
  	<url-pattern>/queryRoads</url-pattern>
  </servlet-mapping>
  
  
</web-app>