<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>lampPm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<description>HelloWeb</description>
  	<display-name>HelloWeb</display-name>
  	<servlet-name>HelloWeb</servlet-name>
  	<servlet-class>com.lamp.web.servlet.HelloWeb</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloWeb</servlet-name>
  	<url-pattern>/HelloWeb</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>LoginServlet</description>
  	<display-name>LoginServlet</display-name>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.lamp.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>JsonServlet</description>
  	<display-name>JsonServlet</display-name>
  	<servlet-name>JsonServlet</servlet-name>
  	<servlet-class>com.lamp.web.servlet.JsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JsonServlet</servlet-name>
  	<url-pattern>/JsonServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>QueryRoadsServlet</description>
  	<display-name>QueryRoadsServlet</display-name>
  	<servlet-name>QueryRoadsServlet</servlet-name>
  	<servlet-class>com.lamp.web.servlet.QueryRoadsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryRoadsServlet</servlet-name>
  	<url-pattern>/queryRoads</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>QueryLampServlet</description>
  	<display-name>QueryLampServlet</display-name>
  	<servlet-name>QueryLampServlet</servlet-name>
  	<servlet-class>com.lamp.web.servlet.QueryLampServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryLampServlet</servlet-name>
  	<url-pattern>/queryLamp</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>QueryMaterialServlet</description>
  	<display-name>QueryMaterialServlet</display-name>
  	<servlet-name>QueryMaterialServlet</servlet-name>
  	<servlet-class>com.lamp.web.servlet.QueryMaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryMaterialServlet</servlet-name>
  	<url-pattern>/queryMaterial</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>QueryCompanyServlet</description>
  	<display-name>QueryCompanyServlet</display-name>
  	<servlet-name>QueryCompanyServlet</servlet-name>
  	<servlet-class>com.lamp.web.servlet.QueryCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryCompanyServlet</servlet-name>
  	<url-pattern>/queryCompany</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>QueryCompanyWithCompanyUnicodeServlet</description>
  	<display-name>QueryCompanyWithCompanyUnicodeServlet</display-name>
  	<servlet-name>QueryCompanyWithCompanyUnicodeServlet</servlet-name>
  	<servlet-class>com.lamp.web.servlet.QueryCompanyWithCompanyUnicodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryCompanyWithCompanyUnicodeServlet</servlet-name>
  	<url-pattern>/queryCompanyWithCompanyUnicode</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>QueryMaterialWithMaterialNumberServlet</description>
  	<display-name>QueryMaterialWithMaterialNumberServlet</display-name>
  	<servlet-name>QueryMaterialWithMaterialNumberServlet</servlet-name>
  	<servlet-class>com.lamp.web.servlet.QueryMaterialWithMaterialNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryMaterialWithMaterialNumberServlet</servlet-name>
  	<url-pattern>/queryMaterialWithMaterialNumber</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<description>QueryRoadWithRoadSectionServlet</description>
  	<display-name>QueryRoadWithRoadSectionServlet</display-name>
  	<servlet-name>QueryRoadWithRoadSectionServlet</servlet-name>
  	<servlet-class>com.lamp.web.servlet.QueryRoadWithRoadSectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryRoadWithRoadSectionServlet</servlet-name>
  	<url-pattern>/queryRoadWithRoadSection</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<description>QueryStreetlightWithLampWickServlet</description>
  	<display-name>QueryStreetlightWithLampWickServlet</display-name>
  	<servlet-name>QueryStreetlightWithLampWickServlet</servlet-name>
  	<servlet-class>com.lamp.web.servlet.QueryStreetlightWithLampWickServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryStreetlightWithLampWickServlet</servlet-name>
  	<url-pattern>/queryStreetlightWithLampWick</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<description>SaveLampServlet</description>
  	<display-name>SaveLampServlet</display-name>
  	<servlet-name>SaveLampServlet</servlet-name>
  	<servlet-class>com.lamp.web.servlet.SaveLampServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveLampServlet</servlet-name>
  	<url-pattern>/saveLamp</url-pattern>
  </servlet-mapping>
</web-app>